*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

body {
  background-color: #f4f6f9;
  font-family: Arial, sans-serif;
  background-color: #007bff;
}

.hero-section {
  background: linear-gradient(to right, #007bff, #6610f2);
}

.student-card {
  border-radius: 12px;
  transition: transform 0.2s ease;
}

.student-card:hover {
  transform: translateY(-5px);
}

button {
  margin-bottom: 10px;
  border-radius: 6px;
}